html, body {
  height: 100%;
}

left-nav {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 300px;
  border-right: 8px solid #f0f0f0;
}

nav-element {
  display: flex;
  justify-content: start;
  align-items: center;
  width: calc(100% - 40px);
  margin: 10px 20px 10px 20px;
  padding: 10px;
  height: 50px;
  font-size: 1.3rem;
  font-family: 'Roboto', sans-serif;
  border-radius: 10px;
}

nav-element:hover {
  background-color: #e0e0e0;
  cursor: pointer;
}

nav-element.active {
  background-color: #e0e0e0;
}

.no-hover:hover {
  background-color: transparent;
  cursor: default;
}

.material-icons {
  font-size: 1.5rem;
  margin-right: 10px;
}

activities {
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
  justify-content: start;
  align-items: start;
  flex-wrap: wrap;
  width: 300px;
  height: 100%;
  padding: 20px;
}

content-tab {
  display: block;
  position: absolute;
  left: 300px;
  top: 0;
  width: calc(100% - 600px);
  height: 100%;
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: #ccc #f0f0f0;
}

.pfp {
  object-fit: cover;
}

.pointer {
  cursor: pointer;
}